@page "/DeleteData/{customerId}"

<h1>Deleting @customer.FirstName @customer.LastName Data</h1>
<h3> Are you Sure you Want to Delete the Record?</h3>
<button onclick = "@DeleteCustomerData" >Confirm Delete</button>
<a href = "CustomersOverview" class = "btn btn-primary" >Go Back</a>
