@page "/"

<PageTitle>Index</PageTitle>
<body>
<h1 class = "text-primary">Hello !</h1>
    <h1 class = "text-dark">Welcome To VSF Bank Admin Panel</h1>
    <div class = "m-1">
<h4 class = "text-Dark"><em>Please Verify and Approve the Customer Accounts</em></h4>
</div>
</body>
